/* add CSS class and element and selectors here */
h3 {font-size:300%;}

body {background-color: #C7CDFF;}

div {border:2px dotted red;}

.Heading {
  font-style: italic;
  font-size:200%;
  background-color:orange; 
}