/* add CSS class and element and selectors here */
h3 {font-size:300%;}

body {background-color: #C7CDFF;}

div {border:2px dotted red;}

.headingClass {
  font-style: italic;
  font-size:400%;
  font-family: Lucida Console;
  border:4px dotted blue;
  
  
}